@font-face {
  font-family: "NorseBold";
  src: url("fonts/Norse-Bold.otf");
}

:root {
  --success-light: rgba(100, 200, 100, 0.3);
  --success-dark: rgb(100, 220, 100);
  --warning-light: rgba(200, 100, 100, 0.3);
  --warning-dark: rgb(220, 100, 100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #494949;
  font-family: sans-serif;
}

a {
  color: #596D48;
  text-decoration: none;
}

button {
  background-color: #596D48;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 15px 35px;
}

form {
  padding-bottom: 10px;
}

img {
  height: 150px;
}

input {
  border-width: 2px;
}

input:not(:placeholder-shown):not(:focus):invalid,
input:focus:invalid {
  border-color: var(--warning-dark);
  outline-color: var(--warning-dark);
}

input:focus:valid, input:valid:not(:required):not(:placeholder-shown) {
  border-color: var(--success-dark);
  background-color: var(--success-light);
  outline-color: var(--success-dark);
}

input:not(:focus):valid:not(:required):not(:placeholder-shown) {
  background-color: unset;
}

input:focus:invalid {
  border-color: var(--warning-dark);
  background-color: var(--warning-light);
}

input, input:valid:not(:required) {
  padding: 4px;
  border-radius: 4px;
  border: 2px solid grey;
  background-color: white;
}

input:valid {
  border-color: var(--success-dark)
}

label {
  font-size: 0.66rem;
  text-transform: uppercase;
  font-weight: normal;
}

p {
  margin: 20px 0px;
  font-size: 1.5rem;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

.content-container > * {
  font-weight: bold;
  margin-bottom: 15px;
}

.dev-border {
  border: 1px solid black;
}

.fields-section {
  box-shadow: 0px 15px 10px -10px rgba(150, 150, 150, 0.7);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.field {
  max-width: 200px;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.image-container {
  width: 40%;
  height: 100%;
  background-color: darkolivegreen;
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  position: relative;
  padding-bottom: 25%;
}

.image-text {
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  font-family: "NorseBold";
  padding: 10px;
}

.pad-left {
  padding-left: 1.25rem;
}

.main-container {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
}

.photo-credit {
  position: absolute;
  bottom: 5px;
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
}